@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}


.navbar {
    padding: .8rem;
    background-color: #424242;
    color: #FFF;
}
.nav-link {
    font-size: 1.3em !important;
}

hr.dark {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.img-fluid {
    width: 100%;
}


.padding-top{
    padding-top: 2rem;
}


footer {
    background-color: #424242;
    color: #d5d5d5;
    padding-top: 2rem;
  }

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.padding-top{
    padding-top: 4rem;
}
.container-orange {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
     background-color: orange;
    }