body, html {
    margin: 0;
    padding: 0;
    background-color: #222222;
}

video::-webkit-media-controls-volume-slider {
    display:none;
}
video::-webkit-media-controls-mute-button {
    display:none;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: none;
}


.content >img {
    

}

#content{
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    
}

#submit {
    background-color: #222222;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    border: none;
    font-size: small;
    box-shadow: 0 0 5px #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 0;
}

@media (min-width: 540px) and (max-width: 1024px) {
    body, html{
        background-color: white;
    }
    #container{
        
    }
}

@media (min-width: 1025px) {
    body, html{
        background-color: white;
    }
    #container{
        
    }
}