      @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
       html,
       body {
           height: 100%;
           width: 100%;
           font-family: 'Poppins', sans-serif;
           background:#FBAF13;
       }
       
       
       .navbar {
           padding: .8rem;
           background-color: #424242;
           color: #FFF;
       }
       .nav-link {
        font-size: 1.3em !important;
    }

footer {
  background-color: #424242;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}
  /* change player background color */
  #myVideo {
    background-color: #9ab87a;
}

.container{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.head{
    color: #fff;
    padding-top: 2%;
}
